@import "./colors";
@import "./components";
@import "./mixins";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    // font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

.container {
    background-color: #333;
    color: white;
    margin: 20px;
    padding: 10px;
}